

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    padding: 20px;
    background-color: #09a0c6;
    flex-direction: column;
}

.div1 {
    flex:1;
    padding: 15px;
    background-color: aqua;
    color: black;
    height: 50px;
    width: 50px;
}

